<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Pet Clinic</title>
</head>
<body>

<div th:insert="header.html :: header"></div>
    <br>
<div class="container">
    <div class="row">
        <img src="images\banner.jpg" alt="">
    </div>
        <br><br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h4 class="d-flex justify-content-center">Welcome to the Pet Clinic</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>
<br>
<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="jumbotron">
            <h1>What is Lorem</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a class="btn btn-primary" th:href="@{'/addPet'}" role="button">Add new pet</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <h1>What is Lorem</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a class="btn btn-primary" th:href="@{'/petList'}" role="button">Show list of pets</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <h1>What is Lorem</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <a class="btn btn-primary" th:href="@{'/petList'}" role="button">Show list of pets</a>
        </div>
    </div>
</div>
</div>


 <div th:insert="footer.html :: footer"></div>
</body>
</html>